@charset "utf-8";
/* CSS Document */

body
{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.fuentecolor
{
  color: #000;
  font-weight: bolder;
}

#btn
{
	width: 100px;
	height: 25px;
	background-image: url(imagenes/basebtn.png);
	background-repeat: no-repeat;
	border: 0px;
    cursor: pointer;
}

#recordacion
{
  margin-left: 170px;
}

#recordacion a
{
  color: #000;
  font-weight: bolder;
}

#recordacion a:hover
{
  color: #3EA8D4;
}

#texto
{
	color: #000;
    text-align: left;
	font-weight: bolder;
	margin-left: 27px;
	margin-top: 3px;
	font-size: 13px;
}

#btnprpal
{
	width: 150px;
	height: 50px;
	background-image: url(imagenes/btnprpal.png);
	background-repeat: no-repeat;
}

#btnprpal:hover, #btnprpal:active
{
  background-image: url(imagenes/btnprpal_hover.png);
  background-repeat: no-repeat;
}

#btnpizq
{
	width: 48px;
	height: 48px;
	margin-left: 3px;
	margin-top: 2px;
	border: 0px;
	position: absolute;
}

#textobtnprpal
{
	width: 93px;
	height: 46px;
	position: absolute;
	margin-left: 52px;
	margin-right: 5px;
	margin-top: 2px;
	text-align: justify;
	font-size: 12px;
	font-weight: bolder;
	color: #333;
}

a
{
	text-decoration: none;
    cursor: pointer;
    color: #33C;
}

a:link, a: visited
{
  color: #3333CC;
}

a:hover
{
  color: #6699FF;
}

#mostrar
{
	border: 0px none;
	border-style:none none none none;
	width:100%;
	height:100%;
	margin-top: -15px;
}

#loginindex
{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 474px;
  margin-left: -237px;
  height: 442px;
  margin-top: -221px;
  background-image: url(imagenes/flogin.png);
  background-repeat: no-repeat;
}

#texto1_login
{
  font-size: 16px;
  margin-top: 189px;
  margin-left: 122px;
  font-weight: bolder;
}


#ingup
{
  padding-top: 20px;
}

#error1
{
  clear: both;
  height: 50px;
  margin-top: -20px;
}

#error
{
  text-align: center;
  width: 361px;
  position: absolute;
  margin-left: 68px;
  padding-top: 1px;
  border: 1px solid #CC0033;
  background-color: #FFCACA;
  color: #CC0033;
  font-weight: bold;
}

#error2
{
  text-align: center;
  width: 493px;
  margin: 10px 1px 0px 1px;
  border-top: 1px solid #CC0033;
  border-bottom: 1px solid #CC0033;
  background-color: #FFCACA;
  color: #CC0033;
  font-weight: bold;
}

#esq_sup_izq
{
  width: 14px;
  height: 10px;
  background: url(imagenes/esquinas.png) top left;
  background-repeat: no-repeat;
}

#mdl_sup
{
  border-top: 1px solid #7D8791;
  background-color: #F3F3F3;
}

#esq_sup_der
{
  width: 14px;
  background: url(imagenes/esquinas.png) top right;
}

#mdl_izq
{
  border-left: 1px solid #7D8791;
  background-color: #F3F3F3;
}

#mdl_cen
{
  vertical-align: top;
  background-color: #F3F3F3;
  font-size: 13px;
}

#mdl_der
{
  border-right: 1px solid #7D8791;
  background-color: #F3F3F3;
}

#mdl_inf
{
  border-bottom: 1px solid #7D8791;
  background-color: #F3F3F3;
}


#esq_inf_izq
{
  height: 10px;
  background: url(imagenes/esquinas.png) bottom left;
}

#esq_inf_der
{
  background: url(imagenes/esquinas.png) bottom right;
}

table.menu
{
  margin: 5px 0 0 5px;
}

td.menu
{
  width: 200px;
  vertical-align: top;
}

li
{
  list-style-image: url(imagenes/pointer.png);
  margin-left: -22px;
  text-transform: capitalize;
}

li.anidada
{
  margin-left: -10px;
}

#lianidadatop
{
  margin-top: 5px;
}

#liandadabobtm
{
  margin-bottom: 5px;
}

#encabezado_tabla
{
  background-color: #2C4778;
  color: #FFF;
  font-weight: bolder;
}

#sombra
{
  width: 100%;
  margin-top: -10px;
}

#sombra1
{
  float: left;
  background-image: url(imagenes/sombra.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

#sombra2
{
  margin-left: 15px;
  margin-right: 15px;
  background-image: url(imagenes/sombra2.png);
  background-repeat: repeat-x;
}

#sombra3
{
  float: right;
  width: 15px;
  height: 15px;
  background-image: url(imagenes/sombra3.png);
  background-repeat: no-repeat;
}

#info
{
  color: #0000CC;
  font-size: 16px;
}

#link_orden a
{
  color: #FFF;
}

#link_orden a:hover
{
  color: #FFFF00;
}

#pregunta
{
  margin: 50px;
  padding-top: 15px;
  border: 1px dotted #69F;
  text-align: center;
  color: #3333CC;
  font-weight: bolder;
}

#pag, #pag_act
{
  width: 25px;
  height: 25px
  text-align: center;
  font-weight: bolder;
}

#pag
{
  background-image: url(imagenes/pag.png);
  background-repeat: no-repeat;
}

#pag_act
{
  background-image: url(imagenes/pag_act.png);
  background-repeat: no-repeat;
  cursor: default;
}

.encabezado
{
  padding: 5px;
}

#fileprogress
{
  font-weight: bolder;
  text-align: center;
}

#requerimientos
{
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 0.8em;
  color: #555;
  position:absolute;
  bottom:0;
}

#panelppal
{
  overflow: hidden;
}

#panel
{
	position: absolute;
	top: 0%;
	left: 50%;
	margin-left: -512px;
	width: 1024px;
	height: 768px;
	background-image: url(imagenes/panel_administracion.png);
	background-repeat: no-repeat;
}

#msj_ppal
{
	width: 358px;
	margin-left: 329px;
	margin-top: 0px;
	text-align: justify;
	font-size: 11px;
}

#botones_ppal
{
	width: 805px;
	height: 176px;
	margin-top: 108px;
	margin-left: 108px;
}

#salida_ppal
{
	width: 72px;
	height: 39px;
	margin-left: 476px;
}

#salir_ppal
{
	width: 150px;
	height: 48px;
	font-size: 30px;
}

#salir_ppal a
{
	color: #FF6600;
}

#salir_ppal a:hover
{
	color: #FF9900;
}

#flogin a
{
  color: #FFF;
}

#flogin a:hover
{
  color: #FFFF00;
}