@charset "utf-8";
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	font-family:Verdana, Geneva, sans-serif;
	background: none;
	margin: 0px; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
	padding: 0px; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
	color: #000000;
}
.oneColElsCtr #container {
	width: 50em;
	background: url(images/cuadro.png);
	background-repeat:repeat;
	margin: auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
	margin-top:30px;
	border: hidden;
	text-align: left; /* esto anula text-align: center en el elemento body. */
	-moz-border-radius: 10px; /* Firefox y similares */
	-webkit-border-radius: 10px; /* Navegadores basados en WebKit: Safari, Chrome, etc */
	border-radius:10px;

}
.oneColElsCtr #mainContent {
	padding: 0 20px; /* recuerde que el relleno es el espacio situado dentro del cuadro div y que el margen es el espacio situado fuera del cuadro div */
	text-align: justify;
}
#secondContainer{
	font:"Courier New", Courier, monospace;
	margin: 10px;
	font-weight:bold;
	text-align:right;
}
#threeContainer{
	text-align:center;
}
.oneColElsCtr #containersor{
	width:1000px;
	height:720px;
	margin:auto;
	vertical-align:middle;
	background-color:rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	text-align: center;
	
margin-top:10px;
}
#secondcontainerSOR{
	widht:300px;
	height:700px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
#frameContainer{
	widht: 700px;
	height: 700px;
	float:right;
	margin-top: 10px;
	margin-right:10px;
	vertical-align: middle;
}
#frametitle{
	padding:10px;
	background-color:rgba(202, 40, 56, 0.7);
	border-radius:5px;
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#FFF;
	}
#titlecontainer{
	padding:5px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left:10px;
	margin-right:10px;
	margin-top:2px;
	border-radius: 5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	font-weight:bold;
	color: #FFF;
}
a{
color:#600;
font-style:normal;
text-decoration:none;

}
a:hover{
color: #FC0;
font-style:normal;
text-decoration:none;

} 

.resaltado{
	color:#900;
	font-weight:bold;

}
.piedepagina{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#900;
	text-align: center;
	margin:auto;
	}

