.body
{
  font-family: Arial, serif;
  color: #FFF;
}

#comentario
{
  width: 346px;
}

#comentario_top
{
  height: 50px;
  background-image: url(comentario_top.png);
}

#avatar
{
  width: 45px;
  height: 64px;
  float: left;
  z-index: 1;
  position: absolute;
}

#nombre
{
  width: 220px;
  height: 50px;
  margin-top: -50px;
  margin-left: 47px;
  font-size: 14px;
  color: #FFCC33
}

#nombre a
{
  color: #FC0;
}


#texto_comentario
{
  padding-left: 47px;
  padding-right: 79px;
  color: #FFF;
  font-size: 12px;
  text-align: justify;
  background-color: #333333;
}

#comentario_bottom
{
  height: 14px;
  background-image: url(comentario_bottom.png);
}

#numcomentario
{
  width: 79px;
  height: 71px;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  color: #0000CC;
  z-index: 10;
  background-image: url(comentario_dialog.png);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 267px;
}

