body
{
  color: #FFFFFF;
  font-family: Arial;
  font-size: 14px;
  margin: 0;
}

#error
{
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #CC0033;
  border-bottom: 1px solid #CC0033;
  background-color: #FFCACA;
  color: #CC0033;
  font-weight: bold;
}

#informacion1
{
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #FF0;
  background-color: #FFC;
  color: #000;
  font-weight: bold;
  width: 35%;
}

#cuerpo
{
	border-bottom: #999 1px solid;
	background-color: #D7E6F2;
	color: #444;
	height: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
	text-align:center;
}

#principal
{
  width: 1024px;
  height: 805px;
  margin-top: 0px;
  margin-left: 0px;
}

#dise&#241;o
{
  width: 800px;
  height: 35px;
  margin-top: 0px;
}


#titulo
{
  width: 100%;
  height: 67px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#contenido_panel_derecho
{
  width: 550px;
  height: 500px;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 50px;
  background: url("Imagenes_pagina/fondo_contenido.png");
}

#contenido
{
  width: 510px;
  height: 460px;
  padding: 20px;
}

/*#titulo_pelicula
{
  background-color: #ddd;
}*/

/* Menu superior links */
#menu_superior
{
  margin-left: 20px;
  padding: 5px;
}

#menu_superior a
{
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: block;
}

#menu_superior ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#menu_superior ul li
{
  display: inline;
}


#menu_superior ul li a:link, #menu_superior li a:visited
{
  color: #FFF;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: inline;
  list-style-type: none;
}

#menu_superior ul li a:hover
{
  color: #ffff00;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#menu_superior ul li a:active
{
  color: #ffff00;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#menu_superior ul li span.borde
{
  border-right: 1px solid #BBBBBB;
  padding-right: 5px;
}


/* titulos y contenido del frame contenido */

#titulo_informacion
{
  width: 100%;
  height: 20px;
  margin: 0px 0px 0px;
  background: url("Imagenes_pagina/titulos/fondo.png") repeat-x 100%;
  text-align: center;
  color: #000;
}

#contenido_informacion
{
  width: 100%;
  height: 430px;
  margin-top: 10px;
  text-align: justify;
}

#paginacion
{
  width: 20px;
  height: 20px;
  background: url("Imagenes_pagina/fondo_cuadrado.png");
  text-align: center;
  color: #000;
}

#paginacion a
{
  color: #000;
  text-decoration: none;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#paginacion a:link, #paginacion li a:visited {
        color: #000;
        text-align: center;
        border-style: none none none none;
        border: 0px;
        }

#paginacion a:hover {
        color: #ffffff;
        background-color: transparent;
        text-align: center;
        border-style: none none none none;
        border: 0px;
        }

#pagina_activa {
  color: #888888;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#titulacion a
{
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#titulacion a:link, #titulacion li a:visited {
        color: #fff;
        text-align: center;
        border-style: none none none none;
        border: 0px;
        }

#titulacion a:hover {
        color: #FFFF66;
        background-color: transparent;
        text-align: center;
        border-style: none none none none;
        border: 0px;
        }

#titulacion a:active {
        color: #FFFFFF;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#busqueda
{
  background-color: #fff;
  color : #000;
  text-align : left;
  border: 0px;
  border-style: none;
}

#menu_admon
{
  color: #fff;
  text-align:left;
  height: 40px;
}


#menu_admon a
{
  color: #fff;
  text-decoration: none;
  text-align: left;
  border-style: none none none none;
  border: 0px;
}

#menu_admon a:link, #menu_admon li a:visited {
        color: #fff;
        text-align: left;
        border-style: none none none none;
        border: 0px;
        }

#menu_admon a:hover {
        color: #FFFF99;
        background-color: transparent;
        text-align: left;
        border-style: none none none none;
        border: 0px;
        }

#menu_admon a:active {
  color: #FFFF99;
  background-color: transparent;
  text-align: left;
  border-style: none none none none;
  border: 0px;
}

#menu_admon2
{
  color: #000;
  margin-left:5px;
  margin-right:5px;
  text-align:left;
  height: 40px;
}


#menu_admon2 a
{
  color: #000;
  text-decoration: none;
  text-align: left;
  border-style: none none none none;
  border: 0px;
}

#menu_admon2 a:link, #menu_admon2 li a:visited {
        color: #000;
        text-align: left;
        border-style: none none none none;
        border: 0px;
        }

#menu_admon2 a:hover {
        color: #3399CC;
        background-color: transparent;
        text-align: left;
        border-style: none none none none;
        border: 0px;
        }

#menu_admon2 a:active {
  color: #3399CC;
  background-color: transparent;
  text-align: left;
  border-style: none none none none;
  border: 0px;
}

.encabezado_tabla
{
  font-weight:bold;
  color:#FFFFFF;
  background-color:#003366;
}

.encabezado_tabla a
{
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

.encabezado_tabla a:link, .encabezado_tabla li a:visited
{
  color: #FFFFFF;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

.encabezado_tabla a:hover {
        color: #990000;
        background-color: transparent;
        text-align: center;
        border-style: none none none none;
        border: 0px;
        }

.encabezado_tabla a:active {
  color: #FFFFFF;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#listado_peliculas
{
  font-size: 14px;
}

#text_actualizacion
{
  color: #FFFFFF;
}

#res_actualizacion
{
  color: #9ff;
  padding-right: 5px;
}

#contacto
{
  width: 460px;
  height: auto;
  background: url("Imagenes_pagina/fondo_formulario.png") repeat-y;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

#contacto.parrafo
{
  text-align: left;
  color: #fff;
}


#flechas
{
  cursor: pointer;
}

#buscar.izq
{
  background: url("Imagenes_pagina/buscar_izq.png") no-repeat;
  width: 10px;
  height: 22px;
  float: left;
}

#buscar.centro
{
  background: url(Imagenes_pagina/buscar_cen.png) 100% 0 repeat-x;
  width: 240px;
  padding: 2px 8px 2px 8px;
  margin-left: 10px;
  margin-right: 20px;
}

#buscar.der
{
  width: 20px;
  float: right;
}


#link_admon
{
  color: #000000;
  text-align:center;
  text-decoration:none;
}

#descripcion
{
  height: 240px;
  overflow: auto;
  font-size: 13px;
}

#recomendadas
{
  width: 600px;
  height: 105px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px dotted #BBBBBB;
}

#recomendadas_contenido
{
  width: 600px;
  height: 75px;
  margin-top: 5px;
}

/*copyright*/
#copyright
{
  clear: both;
  width:1024px;
  height:20px;
  margin-top:2px;
  border:1px dotted #CCC;
  color:#888888;
  font-family:Verdana, Geneva, sans-serif;
  font-size:11px;
  text-align: center;
}

/* links declaracion de privacidad, etc */
#links_inf a
{
  width: 100%;
  height: 100%;
  color: #888888;
  font-size: 11px;
  font-family: Arial;
  text-decoration: underline;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: block;
}

#links_inf a:link, #links_inf a:visited
{
  color: #999;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: inline;
  list-style-type: none;
}

#links_inf a:hover
{
  color: #003366;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#links_inf a:active
{
  color: #003366;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#links_usr a
{
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 14px;
  font-family: Arial;
  text-decoration: none;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: block;
}

#links_usr a:link, #links_usr a:visited
{
  color: #FFF;
  text-align: center;
  border-style: none none none none;
  border: 0px;
  display: inline;
  list-style-type: none;
}

#links_usr a:hover
{
  color: #FFFF99;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

#links_usr a:active
{
  color: #FFFF99;
  background-color: transparent;
  text-align: center;
  border-style: none none none none;
  border: 0px;
}

.tit {
	font-family: Arial;
	font-size: 9px;
	color: #FFFFFF;
}
.prod {
	font-family: Arial;
	font-size: 14px;
	color: #000;
}
.prod1 {
	font-family: Arial;
	font-size: 14px;
	color: #fff;
}
h1 {
	font-family: Arial;
	font-size: 20px;
	color: #990000;
}

#base_no
{
	background-image: url(Imagenes_pagina/base_no.png);
	background-repeat: no-repeat;
	background-position: center center;
}

/*mensaje de alerta*/
#modalContainer {
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    text-align: center;
	position:relative;
	width:300px;
	min-height:120px;
	margin-top:50px;
	border:2px solid #000;
	background-color:#eee;
	background-image:url(alert.png);
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

/*encabezado oopss*/
#alertBox h1 {
	margin:0;
	font:bold 0.9em arial;
	background-color:#6699CC;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
    text-align: justify;
	font:1em arial;
	height:70px;
	padding-left: 5px;
	margin-left: 5px;
    margin-right: 5px;
}

#alertBox #closeBtn {
    display: block;
	position:relative;
	margin:5px auto;
	padding:3px;
	border:2px solid #000;
	width:70px;
	font:0.8em arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#78919B;
	text-decoration:none;
}

#loginindex
{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  margin-left: -225px;
  height: 320px;
  margin-top: -160px;
  background-image: url(imagenes/flogin.png);
  background-repeat: no-repeat;
  border: 1px solid #888;
}
.btn_pdf{
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #B30415;
  background-color:#E6E6EC;
  text-decoration: none;
  font-size: 110%;
  vertical-align: middle;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: 100;
  white-space: nowrap;
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible;
  height: 21px;
  line-height: 19px;
  min-width: 40px;
  outline: 0 none;
  padding: 0 8px
}